[submodule "extlib/nanosocket"]
	path = extlib/nanosocket
	url = git://github.com/tokuhirom/nanosocket.git
[submodule "extlib/picouri"]
	path = extlib/picouri
	url = git://github.com/tokuhirom/picouri.git
[submodule "extlib/picohttpparser"]
	path = extlib/picohttpparser
	url = git://github.com/kazuho/picohttpparser.git
[submodule "extlib/nanotap"]
	path = extlib/nanotap
	url = git://github.com/tokuhirom/nanotap.git
[submodule "extlib/nanoalarm"]
	path = extlib/nanoalarm
	url = git://github.com/tokuhirom/nanoalarm.git
