[submodule "extlib/nanosocket"]
	path = extlib/nanosocket
	url = git://github.com/tokuhirom/nanosocket.git
[submodule "extlib/picohttpparser"]
	path = extlib/picohttpparser
	url = git://github.com/kazuho/picohttpparser.git
[submodule "extlib/nanotap"]
	path = extlib/nanotap
	url = git://github.com/tokuhirom/nanotap.git
[submodule "extlib/nanoalarm"]
	path = extlib/nanoalarm
	url = git://github.com/tokuhirom/nanoalarm.git
[submodule "extlib/nanouri"]
	path = extlib/nanouri
	url = git://github.com/tokuhirom/nanouri.git
[submodule "extlib/nanobase"]
	path = extlib/nanobase
	url = git://github.com/tokuhirom/nanobase.git
